body{
background-color:#808080;
font-size: 50px;
color: #0000cd;}
#imagem1 {
  padding: 10px;
  margin-left: 400px;
  width: 40%;
  border: 40px solid;

<div class= "principal">
background-color:#FF00FF;
<div class= "elementosfigurados">
background-color:#3300FF;
#imagem2 {
  padding: 100px;
  margin-left: 400px;
  width: 40%;
  border: 40px solid;
}
ul }
display: inline-block;
vertical aligen: top;
width: 30%
margin rigth: 20%
margin:top;
#imagem3 {
  padding: 100px;
  margin-left: 400px;
  width: 40%;
  border: 40px solid;
#imagem4 {
  padding: 100px;
  margin-left: 400px;
  width: 40%;
  border: 40px solid;

  #imagem5 {
    padding: 100px;
    margin-left: 400px;
    width: 40%;
    border: 40px solid;
}
